/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f9fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #2d9cdb;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus,
select:focus {
    border-color: #2d9cdb;
    outline: none;
}

button {
    background-color: #2d9cdb;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px; /* Espaciado entre botones */
}

button:hover {
    background-color: #1c7cb5;
}

/* Estilos específicos para los botones CRUD */
.button-group {
    display: flex;
    flex-direction: column; /* Botones en columna */
    gap: 10px; /* Espacio entre botones */
}
